body {
	background-color: cadetblue;
}
.quadrants {
	display: grid;
	grid-template-columns: 200px 200px;
	height: 400px;
	width: 400px;
	margin: auto;
	background-color: cornsilk;
	border-radius: 25px;
}
.quadrant {
	padding: 25px;
	border-radius: 25px;
}
.quadrant1 {
	background: green;
	border: 5px solid darkgreen;
}
.quadrant2 {
	background: red;
	border: 5px solid darkred;
}
.quadrant3 {
	background: blue;
	border: 5px solid darkblue;
}
.quadrant4 {
	background: yellow;
	border: 5px solid yellowgreen;
}
.loss {
	display: none;
}
.tutorial-btn {
	padding: 0.4em;
	font-size: 19px;
}
.tutorial {
	display: none;
	padding: 0.4em;
	font-size: 24px;
	color: blue;
}
.start {
	padding: 0.7em 0.7em;
	margin-top: 30px;
	font-size: 19px;
	color: green;
}
.quit {
	padding: 0.7em 0.7em;
	font-size: 19px;
	color: red;
}
.loss {
	background-color: red;
	color: blue;
	text-align: center;
}
