.quadrants{
    display: grid;
    grid-template-columns: 200px 200px;
    height: 400px;
    width: 400px;
    margin: auto;
}
.quadrant{
    padding: 25px;
    border-radius: 25px;
}
.quadrant1{
    background: green;
    border: 5px solid darkgreen;
}
.quadrant2{
    background: red;
    border: 5px solid darkred;
}
.quadrant3{
    background: blue;
    border: 5px solid darkblue;
}
.quadrant4{
    background: yellow;
    border: 5px solid yellowgreen;
}
.loss{
    display: none
}